<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="navbar navbar-inverse navbar-static-top header-strip" role="navigation">
                <div class="container">
                    <div class="navbar-collapse collapse">
                        <div class="navbar-brand" style="padding-bottom: 10px; padding-top: 10px">
                            <a href="@Url.Action("Index", "Home")">
                                <img height="30" src="~/Content/Images/LogoWhite.png" />
                            </a>
                        </div>
                        @Html.Partial("Navigation")
                        @Html.Partial("UserInfo")
                    </div>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
        </div>

        <footer class="footer">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

    <script>
        function loginClickHandler(event, element) {
            $.ajaxSetup({ cache: false });
            event.preventDefault();
            $.get(element.href, function (data) {
                $('#dialogContent').html(data);
                $('#loginModal').modal('show');
            });
        }
        function unloadModal(data) {
            if (data.success) {
                $('#loginModal').modal('hide');
                window.location.reload(true);
            }
        };

    </script>
</body>
</html>
