<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/chosen")
</head>
<body>
    <div class="container-fluid" style="font-family: 'Open Sans', 'sans-serif';">
        <div class="navbar navbar-inverse navbar-static-top header-strip navbar-fixed-top" style="z-index: 999; background-color: #1a1a1a" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" style="height: 50px; padding: 10px 15px" href="@Url.Action("Index", "Home")">
                        <img height="30" src="~/Content/Images/LogoWhite.png" />
                    </a>
                </div>

                @Html.Action("MegaMenu", "ProductGroup")

                <div class="navbar-form navbar-left">
                    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                    {
                        <div class="input-group" style="padding-top: 3px;">
                            <input type="text" name="searchString" class="form-control" style="font-size: 14px; min-width: 500px;" placeholder="Поиск...">

                            <div class="input-group-btn">
                                <input class="btn btn-primary" style="font-size: 14px;" type="submit" value="Поиск">
                            </div>
                        </div>
                    }
                </div>

                @Html.Action("Index", "Cart")
            </div>
        </div>
        <div class="container-fluid" style="margin-top: 54px">
            <div class="body-content">
                @RenderBody()
            </div>
        </div>

        <div id="mainModal" class="modal fade in">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="mainDialogContent">
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-inner-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" style="padding: 20px 0">
                            <p style="font-size: 16px; font-weight: bold; color: #fff">О компании</p>
                            <p style="color: #757575; font-size: 13px">
                                Наш магазин и команда - это люди,
                                которые влюблены в жизнь и экстрим.
                                У нас вы всегда сможете получить подробнейшие консультации
                                и помощь при покупке своей экшн-камеры GoPro или аксессуаров к ней.
                            </p>
                            <p style="font-size: 16px; font-weight: bold; color: #fff">Подписаться на новости</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Пример">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button">Подписаться</button>
                                </span>
                            </div>
                            <div class="form-inline text-left" style="margin-top: 14px;">
                                <a href="http://facebook.com"><span class="fa fa-footer fa-facebook-f"></span></a>
                                <a href="http://youtube.com"><span class="fa fa-footer fa-youtube"></span></a>
                                <a href="http://instagram.com"><span class="fa fa-footer fa-instagram"></span></a>
                                <a href="http://vk.com"> <span class="fa fa-footer fa-vk"></span></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.Action("FooterCatalog", "ProductGroup")
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5>BSUIR 2018 <span class="fa fa-copyright"></span> Haletski Pavel</h5>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a href="#" id="scrollToTop"><span class="fa fa-angle-up fa-2x"></span></a>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz7SKCEEmzuiQnfkQGqhixSYyqiUi23xY&callback=myMap"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/goproshop")

    @RenderSection("scripts", required: false)
</body>
</html>
