<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/jquery-head")
</head>
<body>
    <div class="container-fluid" style="font-family: 'Open Sans', 'sans-serif';">
        <div class="navbar-inverse" style="padding-top: 7px; background-color: #1a1a1a">
            <div class="container">
                <div class="nav navbar-left">
                    <a class="navbar-link" style="padding-right: 7px;"><span><img height="15" src="~/Content/Images/velcom.png" /></span> +375 29 127 52 24</a>
                    <a class="navbar-link" style="padding-right: 7px;"><span><img height="15" src="~/Content/Images/MTS.png" /></span> +375 29 127 52 24</a>
                </div>
                @Html.Partial("~/Views/Account/_LoginPartial.cshtml")
            </div>
        </div>

        <div class="navbar navbar-inverse navbar-static-top header-strip" style="z-index: 999; background-color: #1a1a1a" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <div class="navbar-brand" style="padding-bottom: 10px; padding-top: 10px">
                        <a href="@Url.Action("Index", "Home")">
                            <img height="30" src="~/Content/Images/LogoWhite.png"/>
                        </a>
                    </div>
                </div>
            
                @Html.Action("MegaMenu", "ProductGroup")

                <div class="navbar-form navbar-left">
                    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
                    {
                        <div class="input-group" style="display: table; max-width: 450px">
                            <input type="text" name="searchString" class="form-control" style="font-size: 14px;" placeholder="Поиск...">

                            <div class="input-group-btn" style="width:1%;">
                                <input class="btn btn-primary" style="font-size: 14px;" type="submit" value="Поиск">
                            </div>
                        </div>
                    }
                </div>
                @Html.Action("Index", "Cart")
            </div>
        </div>

        <div class="body-content">
            @RenderBody()
        </div>

        <div id="mainModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id="mainDialogContent">
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer-inner-main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3" style="padding: 20px 0">
                            <p style="font-size: 16px; font-weight: bold; color: #fff">О компании</p>
                            <p style="color: #757575; font-size: 13px">
                                Наш магазин и команда - это люди,
                                которые влюблены в жизнь и экстрим.
                                У нас вы всегда сможете получить подробнейшие консультации
                                и помощь при покупке своей экшн-камеры GoPro или аксессуаров к ней.
                            </p>
                            <p style="font-size: 16px; font-weight: bold; color: #fff">Подписаться на новости</p>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Пример">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button">Подписаться</button>
                                </span>
                            </div>
                            <div class="form-inline text-left" style="margin-top: 14px;">
                                <a href="http://facebook.com"><span class="fa fa-footer fa-facebook-f"></span></a>
                                <a href="http://youtube.com"><span class="fa fa-footer fa-youtube"></span></a>
                                <a href="http://instagram.com"><span class="fa fa-footer fa-instagram"></span></a>
                                <a href="http://vk.com"> <span class="fa fa-footer fa-vk"></span></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            @Html.Action("FooterCatalog", "ProductGroup")
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5>BSUIR 2018 <span class="fa fa-copyright"></span> Haletski Pavel</h5>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script>
        function loginClickHandler(event, element) {
            $.ajaxSetup({ cache: false });
            event.preventDefault();
            $.get(element.href, function (data) {
                $('#dialogContent').html(data);
                $('#loginModal').modal('show');
            });
        }

        function mainModalClickCartHandler(element, event) {
            $.ajaxSetup({ cache: false });
            event.preventDefault();
            $.get(element.href, function (data) {
                $('#mainDialogContent').html(data);
                $('#mainModal').modal('show');
            });
        }

        function mainModalClickButtonHandler(event) {
            $.ajaxSetup({ cache: false });
            event.preventDefault();
            $.get('/Product/Create', function (data) {
                $('#mainDialogContent').html(data);
                $('#mainModal').modal('show');
            });
        }

        function viewFeedbackClickHandler(event, element, elementId) {
            event.preventDefault();
            $.get('/Feedback/View/', { id: elementId }, function (result) {
                $('#pending-feedback-count').html(result.Count);
                $.get(element.href, { id: elementId }, function (data) {
                    $('#mainDialogContent').html(data);
                    $('#mainModal').modal('show');
                });
            });
        }

        function mainModalClickHandler(event, element, elementId) {
            $.ajaxSetup({ cache: false });
            event.preventDefault();
            $.get(element.href, { id: elementId }, function (data) {
                $('#mainDialogContent').html(data);
                $('#mainModal').modal('show');
            });
        }
        function deleteItemClickHandler(event, element, elementId) {
            $.ajaxSetup({ cache: false });
            event.preventDefault();
            $.get(element.href, { id: elementId }, function (data) {
                var alertElement;
                if (data.IsSuccess) {
                    $.get('/Feedback/View/', { id: elementId }, function (dataResult) {
                        $('#pending-feedback-count').html(dataResult.Count);
                    });
                    updateAlertMessage(data.Message);
                    $.get('Feedback/GetAdminFeedbacks', function (dataResult) {
                        $('#admin-feedbacks').html(dataResult);
                    });
                }
            });
        };

        function updateFeedbacks(data) {
            if (data.IsSuccess) {
                updateAlertMessage(data.Message);
                $.get('Feedback/GetAdminFeedbacks', function (feedbackData) {
                    $('#admin-feedbacks').html(feedbackData);
                });
                $("#mainModal").modal('hide');
            }
        }

        function updateAlertMessage(message) {
            var result = '<div class="alert alert-success alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>' + message + '</strong></div>';
            $('#alert-message').html(result);
        }

        function getMethodClickHandler(event, element, elementToUpdate) {
            $.ajaxSetup({ cache: false });
            event.preventDefault();
            $.get(element.href, function (data) {
                $(elementToUpdate).html(data);
            });
        }

        function SuccessShoppingCartHandler(data) {
            if (data.success) {
                $.get('/Cart/Index/', function (partialView) {
                    $('#shopping-cart').html(partialView);
                });
            }
        };

        function unloadModal(data) {
            if (data.success) {
                $('#loginModal').modal('hide');
                window.location.reload(true);
            }
        };

        function adminTabClickHandler(event, element) {
            var $this = $(this);
            $this.addClass('active');
            event.preventDefault();
            $.get(element.href, function (partialView) {
                $('#adminContent').html(partialView);
            });
        };

        $('.nav-tabs').on('click', 'li', function () {
            $('.nav-tabs li.active').removeClass('active');
            $(this).addClass('active');
        });

        $('.list-group-item').on('click', function (e) {
            $('.list-group').find('.active').removeClass('active');
            $(this).addClass('active');
        });


    </script>
</body>
</html>
