@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li><a style="padding-right: 0" href="@Url.Action("Edit","Account")">Hello, @User.Identity.Name</a></li>
        <li class="dropdown">
            <a href="#" style="padding-bottom: 12.5px; padding-top: 12.5px" data-toggle="dropdown" class="dropdown-toggle">
                <img height="25" src="~/Content/Images/DefaultUserLogo.png" />
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Action("Edit","Account")">Settings</a></li>
                <li><a href="@Url.Action("Logout","Account")">Logout</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <div id="loginModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <ul class="registration-nav">
                        <li><a data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#modalContent" href="@Url.Action("Login", "Account")"><strong>Login</strong></a></li>
                        <li><a data-ajax="true" data-ajax-method="Get" data-ajax-mode="replace" data-ajax-update="#modalContent" href="@Url.Action("Register", "Account")"><strong>Register</strong></a></li>
                        <li style="float: right"><a class="close-thik" data-dismiss="modal"></a></li>
                    </ul>
                </div>
                <div id="dialogContent">
                </div>
            </div>
        </div>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Login", "Account")" onclick="loginClickHandler(event, this)"> Sign in</a></li>
    </ul>
}







