@model GoProShop.ViewModels.OrderVM

<div id="order-content">
    @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { id = "create-order-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-6 col-md-offset-1">
                <div class="form-group">
                    @Html.Label("Cпособ оплаты", new { @class = "col-md-12" })
                    @Html.EnumDropDownListFor(model => model.PaymentMethod, "Выберите способ оплаты", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PaymentMethod, null, new { @class = "text-danger" })
                </div>

                @Html.Label("Основная информация", new { @class = "col-md-12" })
                @Html.EditorFor(model => model.Customer.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Имя" } })

                <div class="form-group">
                    @Html.EditorFor(model => model.Customer.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Емейл" } })
                    @Html.ValidationMessageFor(model => model.Customer.Email, null, new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.Customer.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Телефон" } })
                    @Html.ValidationMessageFor(model => model.Customer.Phone, null, new { @class = "text-danger" })
                </div>

                @Html.Label("Cпособ доставки", new { @class = "col-md-12" })
                @Html.EnumDropDownListFor(model => model.DeliveryType, "Выберите способ доставки", new { @class = "form-control" })
                @Html.EditorFor(model => model.Customer.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Адрес доставки" } })
                <div class="form-group">
                    <div class="left-inner-addon ">
                        <i class="fa fa-calendar fa-lg"></i>
                        @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control datepicker", placeholder = "Дата доставки" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.OrderDate, null, new { @class = "text-danger" })
                </div>


                @Html.Label("Комментарий", new { @class = "col-md-12" })
                @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", style = "overflow-x: hidden;", rows = 8, placeholder = "Комментарий" })


                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i> Оформить
                </button>

            </div>
        </div>
    }
</div>
<script>
    $('#create-order-form').submit(function (event) {
        event.preventDefault();

        var formdata = new FormData($(this).get(0));
        var spinner = $("#order-content .fa-spinner");
        var button = $("#order-content button");

        spinner.css("display", "inline-block");
        button.addClass("disabled");

        $.ajax({
            url: this.action,
            type: this.method,
            data: formdata,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.IsSuccess) {
                    window.location.href = result.Url;
                }
                else {
                    spinner.hide();
                    button.removeClass("disabled");
                    $('#order-content').html(result);
                }
            }
        });
    });

    $(function () {
        $(".datepicker").datetimepicker({
            locale: 'ru',
            format: 'DD/MM/YYYY'
        });
    });
</script>


