@model IEnumerable<GoProShop.ViewModels.OrderedProductVM>
<div class="row" style="margin-top: 20px;">
    <div class="col-md-12">
        <table  class="table table-responsive table-striped">
            <thead>
                <tr>
                    <td class="text-center">Фото</td>
                    <td>Название</td>
                    <td>Количество</td>
                    <td>Цена</td>
                    <td class="text-center">Удалить</td>
                </tr>

            </thead>
            <tbody>
            @foreach (var orderedProduct in Model)
            {
                @Html.HiddenFor(model => orderedProduct)
                <tr>
                    <td class="text-center">
                        @if (orderedProduct.Product.MimeType == null)
                        {
                            <img height="30" width="35" src="~/Content/Images/No_Image_Available.png" alt="Фото" />
                        }
                        else
                        {
                            <img height="30" width="35" src="@Url.Action("GetImage", "Product", new { productId = orderedProduct.Product.Id })" alt="Фото">
                        }
                    </td>
                    <td>@orderedProduct.Product.Name</td>
                    <td>@orderedProduct.Quantity шт.</td>
                    <td>@orderedProduct.Product.Price руб.</td>
                    <td class="text-center"><a class="btn btn-default btn-sm" href="@Url.Action("Delete", "OrderedProduct", new { orderedProductId = orderedProduct.Id })" onclick="deleteEntityFromTable(event,this)"><i class="fa fa-trash-o text-danger"></i></a></td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr style="border-top: 1px solid #ccc">
                <th>@Model.Sum(x => x.Price)</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(function () {
        var element = $('#product-select');

        $(".chosen-select").chosen({
            search_contains: true, // kwd can be anywhere
            max_selected_options: 10,
            max_shown_results: 300, // show only 5 suggestions at a time
            width: 400,
            no_results_text: "Oops, nothing found!"
        });

        $.when(GetChosenOptions()).done(function () {
            $(".chosen-select").trigger("chosen:updated");
        });

        function GetChosenOptions() {
            return $.get('/Chosen/GetChosenProducts/', function (data) {
                $.each(data, function (index, item) {
                    element.append($('<option></option>')
                        .val(item.Id)
                        .text(item.Name));
                });
            });
        }M
    });
</script>