@model GoProShop.ViewModels.ProductVM

<div id="modalBody">
    <div class="modal-header">
        <ul class="registration-nav">
            <li><text><strong>Добавление нового товара</strong></text></li>
            <li class="pull-right"><a class="close-thik" data-dismiss="modal"></a></li>
        </ul>
    </div>
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data", id = "product-create-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="alert-danger" style="border-radius: 5px">
                @Html.ValidationSummary(false, null, new { @class = "text-danger" })
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", style = "padding-bottom: 7px" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductSubGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ProductSubGroupId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EnumDropDownListFor(model => model.Status, "Выбрать статус", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5">Выберите файл</label>
                    <div class="col-md-12">
                        <input type="file" name="uploadedFile" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 4 })
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-default btn-sm pull-right btn-default-width" style="margin-left: 7px;" value="Отмена" data-dismiss="modal" />
            <input type="submit" id="edit-product-form" value="Добавить" class="btn btn-primary btn-sm btn-default-width pull-right" />
        </div>
    }
</div>
<script>
    $('#product-create-form').submit(function (event) {
        event.preventDefault();
        var formdata = new FormData($(this).get(0));
        $.ajax({
            url: this.action,
            type: this.method,
            data: formdata,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.success) {
                    $("#mainModal").modal('hide');
                    $.get('/Product/SubGroupProducts/', { id: result.groupId }, function (data) {
                        $('#products').html(data);
                    });
                }
                else {
                    $('#modalBody').html(result);
                }
            }
        });
    });

</script>