@model GoProShop.ViewModels.ProductVM

<div id="modalBody">
    <div class="modal-header">
        <ul class="registration-nav">
            <li><strong>Добавление нового товара</strong></li>
            <li class="pull-right"><a class="close-thik" data-dismiss="modal"></a></li>
        </ul>
    </div>
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitModalForm(event)", data_on_success = "productOnSuccessHandler" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="alert-danger" style="border-radius: 5px">
                @Html.ValidationSummary(false, null, new { @class = "text-danger" })
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", style = "padding-bottom: 7px" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ProductSubGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ProductSubGroupId, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EnumDropDownListFor(model => model.Status, "Выбрать статус", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Изображение</label>
                    <div class="col-md-12">
                        <input type="file" name="uploadedFile" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = 4 })
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-link pull-right" style="width: 80px" value="Отмена" data-dismiss="modal" />
            <input type="submit" id="edit-product-form" value="Добавить" class="btn btn-primary btn-sm btn-default-width pull-right" />
        </div>
    }
</div>