@model IEnumerable<GoProShop.ViewModels.ProductVM>

<div>
    <div class="form-inline" style="padding-bottom: 15px; padding-top: 15px">
        <button class="btn btn-success btn-sm"><span class="fa fa-plus"> Добавить</span></button>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th width="70%">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th width="15%">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="text-center" width="15%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="text-center">
                        <a class="btn btn-default btn-sm" href="@Url.Action("Details","Product", new { id = item.Id })"><span class="fa fa-info-circle"></span> </a>
                        <a class="btn btn-default btn-sm" href="@Url.Action("Delete","Product", new { id = item.Id })"><span class="fa fa-close"></span> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>