@model GoProShop.ViewModels.ProductVM
@{
    var options = new AjaxOptions
    {
        OnSuccess = "SuccessShoppingCartHandler",
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "shopping-cart"
    };
}
<div class="container-fluid">
    <div class="container" style="padding-top: 25px">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("UserSideMenu", "ProductGroup")
            </div>
            <div class="col-md-9">
                <div id="product-content">
                    <div class="row">
                        <div class="col-md-4" style="padding-left: 0">
                            @if (Model.MimeType == null)
                            {
                                <img height="250" class="text-center" width="250" src="~/Content/Images/No_Image_Available.png" alt="Фото" />
                            }
                            else
                            {
                                <img height="205" width="245" src="@Url.Action("GetImage", "Product", new { productId = Model.Id })" alt="Фото">
                            }
                        </div>

                        <div class="col-md-8">
                            <h4 class="header-text-black">Информация о товаре:</h4>
                            <table class="table table-striped" style="margin-top: 7px">
                                <tr>
                                    <td width="300">Артикул:</td>
                                    <td>@Model.Id</td>
                                </tr>
                                <tr>
                                    <td>Название:</td>
                                    <td>@Model.Name</td>
                                </tr>
                                <tr>
                                    <td>Цена:</td>
                                    <td>@Model.Price руб.</td>
                                </tr>
                                <tr>
                                    <td>Наличие:</td>
                                    <td>
                                        @if (Model.Status == GoProShop.Enums.ProductStatus.Available)
                                        {
                                            <span class="text-success">В наличии</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Под заказ</span>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>Рейтинг:</td>
                                    <td>
                                        @if (Model.AverageRating != null)
                                        {
                                            var lastRatedItem = (int)Model.AverageRating;
                                            <div class="form-inline text-left" style="padding-bottom: 8px;">
                                                @for (int i = 1; i < 6; i++)
                                                {
                                                    if (i <= lastRatedItem)
                                                    {
                                                        <span class="fa fa-star fa-star-selected fa-lg"></span>
                                                    }
                                                    else if ((i - 1) == lastRatedItem
                                                    && Model.AverageRating % 1 != 0)
                                                    {
                                                        <span class="fa fa-star-half-o fa-star-selected fa-lg"></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-star-o fa-lg"></span>
                                                    }
                                                }
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="form-inline">
                                                @for (int i = 0; i < 5; i++)
                                                {
                                                    <span class="fa fa-star-o fa-lg"></span>
                                                }
                                                (Нет оценок)
                                            </div>
                                        }
                                    </td>
                                </tr>
                            </table>

                            <div class="row" style="padding-right: 15px">
                                <div class="col-md-4">
                                    <a class="btn btn-success btn-block" href="@Url.Action("AddToCart", "Cart", new {id = Model.Id })" onclick="addToCart(event, this)">
                                        <i class="fa fa-spinner fa-pulse fa-fw"></i> Купить
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-12" style="padding-left: 0">
                            <ul class="nav nav-tabs">

                                <li class="active"><a class="ajax-get-link" href="@Url.Action("Description","Product", new { productId = Model.Id })" data-element-to-update="#view-product-content">Описание</a></li>
                                <li id="feedback-tab">
                                    <a class="ajax-get-link" href="@Url.Action("GetProductFeedbacks","Feedback",  new { productId = Model.Id })" data-element-to-update="#view-product-content">
                                        <i class="fa fa-envelope-square admin-tab-icon"></i>
                                        Отзывы<span class="badge badge-admin-tab" id="pending-feedback-count">@Model.FeedbackAmount</span>
                                    </a>
                                </li>
                            </ul>

                            <div id="view-product-content">
                                <p>
                                    @if (ViewBag.Tab == "feedbacks")
                                    {
                                        @Html.Action("GetProductFeedbacks", "Feedback", new { Model.Id })
                                    }
                                    else
                                    {
                                        @Model.Description
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        if ('@ViewBag.Tab' === 'feedbacks') {
            $('.nav-tabs li.active').removeClass('active');
            $('#feedback-tab').addClass('active');
        }
    });
</script>
