@model GoProShop.ViewModels.ProductVM
@{
    var options = new AjaxOptions
    {
        OnSuccess = "SuccessShoppingCartHandler",
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "shopping-cart"
    };
}
<div class="container-fluid">
    <div class="container" style="padding-top: 25px">
        <div class="row">
            <div class="col-md-3">
                @Html.Action("UserSideMenu", "ProductGroup")
            </div>
            <div class="col-md-9">
                <div id="product-content">
                    <div class="row">
                        <div class="col-md-4" style="padding-left: 0">
                            @if (Model.MimeType == null)
                            {
                                <img height="250" class="text-center" width="250" src="~/Content/Images/No_Image_Available.png" alt="Фото" />
                            }
                            else
                            {
                                <img height="205" width="245" src="@Url.Action("GetImage", "Product", new { productId = Model.Id })" alt="Фото">
                            }
                        </div>

                        <div class="col-md-8">
                            <h4 class="header-text-black">Информация о товаре:</h4>
                            <table class="table table-striped">
                                <tr>
                                    <td width="300">Артикул</td>
                                    <td>@Model.Id</td>
                                </tr>
                                <tr>
                                    <td>Название</td>
                                    <td>@Model.Name</td>
                                </tr>
                                <tr>
                                    <td>Цена</td>
                                    <td>@Model.Price руб.</td>
                                </tr>
                                <tr>
                                    <td>Наличие</td>
                                    <td>
                                        @if (Model.Status == GoProShop.Enums.ProductStatus.Available)
                                        {
                                            <span class="text-success">В наличии</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">Под заказ</span>
                                        }
                                    </td>
                                </tr>
                            </table>

                            <div class="row" style="padding-right: 15px">        
                                <div class="col-md-4">
                                    @Ajax.ActionLink("Купить", "AddToCart", "Cart", new { id = Model.Id }, options, new { @class = "btn btn-success btn-block btn-sm"})
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 30px;">
                        <div class="col-md-12" style="padding-left: 0">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="@Url.Action("Description","Product")" onclick="productTabClickHandler(event, this, @Model.Id)">Описание</a></li>
                                <li>
                                    <a href="@Url.Action("GetProductFeedbacks","Feedback")" onclick="productTabClickHandler(event, this, @Model.Id)">
                                        <i class="fa fa-envelope-square admin-tab-icon"></i>
                                        Отзывы<span class="badge badge-admin-tab" id="pending-feedback-count">@Model.FeedbackAmount</span>
                                    </a>
                                </li>
                            </ul>

                            <div id="view-product-content">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

