<div class="container-fluid">
    @Html.Partial("_HeaderCarousel")
</div>
<div class="container-fluid">
    <div style="margin-bottom: 20px">
        <img src="~/Content/Images/home-page-item-1.png" style="width: 100%; height: 100%" alt="фото" />
    </div>
</div>

<div class="container text-center" style="margin-top: 20px; margin-bottom: 20px">
    <div class="row">
        <div class="col-md-offset-1">
            <h3 class="text-left col-md-12" style="font-weight: 700;">Товар дня</h3>
            <br />

            @Html.Action("ProductOfDay", "Product")
        </div>
    </div>
</div>

<div class="container-fluid">
    <div style="margin-top: 20px; margin-bottom: 20px">
        <img src="~/Content/Images/home-page-item-2.png" style="width: 100%; height: 100%" alt="фото" />
    </div>
</div>

<div class="container" style="margin-bottom: 25px">
    <div class="row">
        <div class="col-md-offset-1">
            @*<div class="col-md-12">
                    <h3 class="text-left col-md-offset-1" style="font-weight: 700;">Отзывы</h3>
                </div>*@
            <br />
            <div class="col-md-3 col-md-offset-1 text-center">
                <img src="~/Content/Images/01.jpg" height="60" width="60" class="img-circle img-thumbnail" />
                <h5>@DateTime.Now</h5>
                <h5>Алексей</h5>
                <div class="text-left">
                    <p>
                        Ребята молодцы! Приобрел GoPro Hero3+ Black Edition! Все супер!! Очень доволен камерой и работой ребят!! Очень помогли с доставкой, вывезли за пределы города, вечером)) За это отдельное спасибо!! Классный сайт, все понятно и доступно расписано!
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/Content/Images/03.jpg" height="60" width="60" class="img-circle img-thumbnail" />
                <h5>@DateTime.Now</h5>
                <h5>Евгений</h5>
                <div class="text-left">
                    <p>
                        Купил камеру, пару прибомбасов. Все в срок и назначенное время. Менеджер на другом конце провода адекватный, вежливый. Все рассказал как надо. Камера работает без нареканий. Не сколько не пожалел. Спасибо за работу!
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <img src="~/Content/Images/02.jpg" height="60" width="60" class="img-circle img-thumbnail" />
                <h5>@DateTime.Now</h5>
                <h5>Олюха</h5>
                <div class="text-left">
                    <p>
                        Cпасибо магазину! Позвонила и мне ответили на все мои вопросы, договорились-встретились-купила: мне все объяснили по работе с камерое и аксессуарами, еще раз спасибо магазину GoPro Беларусь. Теперь могу снимать, что мечтала.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: #f5f5f5; min-height: 80px; height: auto;">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-2">
                <div class="col-md-12 text-center">
                    <h3 style="font-weight: 100;">Оставить отзыв</h3>
                    <br />
                </div>
                <div id="feedbackResponse" class="text-center" style="min-height: 40px; display: none;">
                </div>
                @Html.Partial("~/Views/Feedback/_MainFeedback.cshtml")
            </div>
        </div>
    </div>
</div>

