@model GoProShop.ViewModels.Cart

<div id="modalBody">
    <div class="modal-header">
        <ul class="registration-nav">
            <li class="navbar-text pull-left" style="color: white"><strong>Корзина</strong></li>
            <li class="pull-right"><a class="close-thik" data-dismiss="modal"></a></li>
        </ul>
    </div>
    <div class="modal-body">
        @if (Model.CartItems.Count() == 0)
        {
            <div class="row empty-cart">
                <div class="col-md-4">
                    <div class="empty-cart__cart-wrapper">
                        <span class="fa fa-shopping-basket fa-5x"></span>
                    </div>

                </div>
                <div class="col-md-8 empty-cart__content-wrapper">
                    <h4>В корзине нет товаров</h4>
                    <p>Вернитесь на  <a href="@Url.Action("Index", "Home")">главную</a>, чтобы начать покупки</p>
                    <a href="@Url.Action("Index", "Catalog")" class="btn btn-primary btn-sm"> Начать покупки</a>
                </div>
            </div>
        }
        else
        {
            <p style="font-size: 13px" class="text-right">В вашей корзине <span style="color: #428bca; font-weight: 700; font-size: 14px;">@Model.Count товара</span></p>

            <table class="table table-condensed">
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td class="text-center">
                                @if (item.Product.MimeType == null)
                                {
                                    <img height="40" width="40" src="~/Content/Images/No_Image_Available.png" alt="Фото" />
                                }
                                else
                                {
                                    <img height="40" width="50" src="@Url.Action("GetImage", "Product", new {productId = item.Product.Id})" alt="Фото">
                                }
                            </td>
                            <td class="text-left" width="230" style="font-size: 13px;">
                                <a href="@Url.Action("ViewProduct","Product", new { productId = item.Product.Id })">@item.Product.Name</a>
                            </td>
                            <td width="90" style="font-size: 13px;text-align: center;">
                                @Html.DisplayFor(modelItem => item.Product.Price) р.
                            </td>
                            <td width="50" class="text-center">
                                <a href="@Url.Action("RemoveCartItem","Cart", new { id = item.Product.Id })" onclick="deleteCartItemModal(event, this)"><span class="fa fa-trash-o text-danger fa-lg"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right"><strong>@Model.TotalSum р.</strong></td>
                    </tr>

                </tfoot>
            </table>

        }

    </div>
    @if (Model.CartItems.Count() != 0)
    {
        <div class="modal-footer">
            <a class="btn btn-success pull-right" href="@Url.Action("CheckOut", "Cart")" style="font-size: 13px">Оформить заказ<i class="fa fa-arrow-right" style="padding-left: 7px"></i></a>
        </div>
    }
</div>
