@model GoProShop.ViewModels.Cart


<ul class="nav navbar-nav navbar-right">
 
    @if (User.Identity.IsAuthenticated)
    {
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user-circle fa-lg" style="margin-right: 10px"></i>@User.Identity.Name
            </a>
            <ul class="dropdown-menu dropdown-login" style="right: 0; left: auto; top: 62px; border-radius: 4px; width: 180px">
                <li><p style="padding: 3px 20px; text-align: center; margin-bottom: 5px;">Здравствуйте, @User.Identity.Name!</p></li>
                <li><a href="#"><i class="fa fa-user-circle" style="margin-right: 10px"></i>Личный кабинет</a></li>
                <li><a href="#"><i class="fa fa-cog" style="margin-right: 10px"></i>Настройки</a></li>
                <li><a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out" style="margin-right: 10px"></i>Выйти</a></li>
            </ul>
        </li>
    }
    else
    {
        <li>
            <a style="padding-right: 7px;" onclick="openModal(event, this)" href="@Url.Action("Login", "Account")">Войти</a>
        </li>
        <li>
            <a style="padding-right: 7px;" onclick="openModal(event, this)" href="@Url.Action("Register", "Account")">Регистрация</a>
        </li>
    }
    <li>
        <a id="shopping-cart" href="@Url.Action("CartView", "Cart")" onclick="openModal(event, this)">
            <span class="fa fa-shopping-cart fa-lg" style="padding-right: 7px"></span>
            @if (Model != null)
            {
                <span class="badge badge-shopping-cart"> @Model.Count </span>
            }
        </a>
    </li>
</ul>


