@model GoProShop.ViewModels.AdminPageVM

<div class="container-admin" style="font-size: 13px">
    <ul class="nav nav-tabs container" style="padding-top: 20px; margin-bottom: 20px;">
        <li class="active">
            <a href="@Url.Action("Orders", "Admin")" onclick="adminTabClickHandler(event, this)">
                <i class="fa fa-list-alt admin-tab-icon"></i>Заказы
                <span class="badge badge-admin-tab" id="new-orders-count">@Model.NewOrdersCount</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Price", "Admin")" onclick="adminTabClickHandler(event, this)">
                <i class="fa fa-table admin-tab-icon"></i>Прайс
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu2">
                <i class="fa fa-tasks admin-tab-icon"></i>Склады
            </a>
        </li>
        <li>
            <a href="@Url.Action("Feedbacks","Admin")" onclick="adminTabClickHandler(event, this)">
                <i class="fa fa-envelope-square admin-tab-icon"></i>Отзывы
                <span class="badge badge-admin-tab" id="new-feedbacks-count">@Model.NewFeedbacksCount</span>
            </a>
        </li>
    </ul>
</div>

<div class="container">
    <div id="adminContent">
        @Html.Action("Orders", "Admin")
    </div>
</div>




