@if (User.Identity.IsAuthenticated)
{
    <div class="nav navbar-right">
        <a class="navbar-link" href="@Url.Action("Edit","Account")" style="padding-right: 7px;">Здравствуйте, @User.Identity.Name!</a>
        <a class="navbar-link" href="@Url.Action("Logout","Account")">Выйти</a>
    </div>
}
else
{
    <div class="nav navbar-right">
        <a class="navbar-link" style="padding-right: 7px;" onclick="openModal(event, this)" href="@Url.Action("Login", "Account")">Войти</a>
        <a class="navbar-link" href="@Url.Action("Register", "Account")" onclick="openModal(event, this)">Регистрация</a>
    </div>
}
