
@model GoProShop.ViewModels.UserLoginVM
    <div id="modalContent">
        @using (Ajax.BeginForm("Login", "Account", new AjaxOptions
        { UpdateTargetId = "modalContent",
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace, OnSuccess = ""}) )
        {
            <div class="modal-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(false,null, new { @class = "text-danger"})
                <div>
                    <div class="form-group">
                          @Html.LabelFor(model => model.Name, new {htmlattributes = new { @style = "margin-left: 20px;"} })
                          @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control login-form-control", @placeholder = "Enter your login or email"}})
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                         @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control login-form-control", @placeholder = "Enter your password" } })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary login-btn" type="submit"><strong>Login</strong></button>
                @Html.ActionLink("Forgot your password?", "RestorePassword", "Account")
            </div>
        }
    </div>

@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

