@model GoProShop.ViewModels.FeedbackVM

@{
    var options = new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "mainFeedback",
        HttpMethod = "POST"
    };
}

<div id="mainFeedback">
    @using (Ajax.BeginForm("Create", "Feedback", options))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="alert-danger" style="border-radius: 5px">
                    @Html.ValidationSummary(false, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Имя" } })
                @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control", placeholder = "Фамилия" } })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            </div>
            <div class="col-md-6">
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @rows = 4, placeholder = "Сообщение" })
                <input type="submit" class="btn btn-primary btn-block" value="Отправить" />
            </div>
        </div>
    }
</div>