@model GoProShop.ViewModels.BaseFeedbackVM

<div id="modalBody">
    <div class="modal-header">
        <ul class="registration-nav">
            <li><text><strong>Информация о отзыве</strong></text></li>
            <li class="pull-right"><a class="close-thik" data-dismiss="modal"></a></li>
        </ul>
    </div>
    @using (Html.BeginForm("Edit", "Feedback", FormMethod.Post, new { id = "edit-feedback-form", @сlass="ajax-form-with-spinner" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="alert-danger" style="border-radius: 5px">
                @Html.ValidationSummary(false, null, new { @class = "text-danger" })
            </div>
            <div class="form-horizontal">
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.Date)
                @Html.HiddenFor(x => x.IsViewed)
                @Html.HiddenFor(x => x.ProductId)
                @Html.HiddenFor(x => x.Rating)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", style = "padding-bottom: 7px" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EnumDropDownListFor(model => model.Status, "Выбрать статус", new { @class = "form-control", placeholder = "Выбрать статус" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = 9 })
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <input class="btn btn-link pull-right" style="width: 80px" value="Отмена" data-dismiss="modal" />
            <input type="submit" value="Сохранить" class="btn btn-primary btn-sm pull-right" />
        </div>
    }
</div>
<script>
    $('#edit-feedback-form').submit(function (event) {
        event.preventDefault();

        var formdata = new FormData($(this).get(0));

        $.ajax({
            url: this.action,
            type: this.method,
            data: formdata,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.IsSuccess) {
                    $("#mainModal").modal('hide');
                    $("#admin-feedbacks").load("Feedback/GetAdminFeedbacks/");
                    updateNotificationMessage("#admin-feedbacks-message", result);
                }
                else {
                    $('#modalBody').html(result);
                }
            }
        });
    });
</script>